body{
    font-family: Arial, sans-serif;
    font-size: 13px;
}

a:hover {
    text-decoration: underline;
}

.tbar {
    text-align: right;
    padding: 30px 30px;
}

.tbar li {
    float: right;
}

.tbar li button {
    background-color: rgb(66, 133, 244);
    color: white;
    font-weight: bold;
    padding: 0px 12px;  
}

.logo{
    margin: 60px;
    text-align: center;
    padding-top: 109px;
}

.searchbar{
    text-align: center;
    border: 1px solid black;
    border-radius: 2px;
    padding: 10px;
    margin: 0px 13px;
}

.searchbutton {
    padding: 20px;
    text-align: center;
    line-height: 30px;
}

.pays, .fbar {
    background: #f2f2f2;
    color:rgb(95, 99, 104);
    font-size: 15px;
    padding: 0px 0px 0px 27px;
    height: 35px;
    line-height: 40px;
    border-top: 1px solid #e4e4e4;
}

.fbar-left a {
    color: #5f6368;
    float: left;
    display: block;
    padding-right: 20px;
}

.fbar-right a {
    color: #5f6368;
    float: right;
    display: block;
    padding-right: 20px;    
}
