/* reset */
html, body, nav, ul, li, a,input, div, img, p, footer {
    margin: 0;
	padding: 0;
    border: 0;
    font-family: Arial, Helvetica, sans-serif;
}

a {
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}


li {
    list-style: none;
}

/* text colors */

.pays, .fbar-left a, .fbar-right a  {
    color:#5f6368;
}

#navlist a, .searchbutton p {
    color: #222222;
}

/* Top Navbar  */

#navlist{
    text-align: right;
    margin-top: 10px;
}

#navlist li{
    display: inline-flex;
}

#navlist a{
    margin-right: 10px;    
}

#btn-connexion {
    background: #4285f4;
    border: none;
    border-radius: 2px;
    color: white;
    padding: 8px 12px;
    font-weight: bold;
}

/* logo  */

#logo {
    text-align: center;
    margin-top: 150px;
    margin-bottom: 30px;    
}

/* search bar and button  */

#searchbar {
    text-align: center;
    border: 1px solid rgb(223, 225, 229);
    border-radius: 25px;
    margin: 30px 28% 30px 28%;
    padding: 5px;
}

#searchbar:hover {
    box-shadow: 0 1px 6px 0 rgb(32, 33, 36);
}

input:focus{
    outline:none;
}

#searchbar input {
    width:90%;
    font-size: 16px;    
    padding: 5px;
}

.searchbutton{
    text-align: center;
    padding: 20px;    
}
.searchbutton button {
    background-color: rgb(242, 242, 242);
    border: none;
    border-radius: 5px;
    padding: 8px 12px;
    font-size: 14px;
    color: #5f6368;
}

#language {
    text-align: center;
    font-size: 13px;
    margin-bottom: 10px;
}

/* footer */


footer{
    position: fixed;
    bottom: 0;
    width: 100%;
}

#pays, #fbar{
    background-color: #f2f2f2;
    color: #5f6368;
    border-top: 1px solid #e4e4e4;
    line-height: 40px;
    padding-left: 30px;
}

#fbar a{
    color: #5f6368;
    padding-right: 30px;
}

#fbar{
    overflow: hidden;
}

#fbar-left{
    float: left;
}

#fbar-right{
    float: right;    
} 