
html body{
    font-family: Arial, sans-serif;
    height: auto;
    overflow: auto;
}

a:hover {
    text-decoration: underline;
}

a, a:visited{
    color: #5f6368;
}

header {
    margin-top: 10px;
    font-size: 15px;
    line-height: 40px;    
}
/* attention la mise ne ligne créé un espace à la fin */
.tbar li{
    list-style: none;
}

.tbar button{
    background: -webkit-linear-gradient(top,#4387fd,#4683ea);
    border:1px solid #4285f4;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    padding: 10px 20px;
}

.logo{
    text-align: center;
    position: relative;
    display: block;
    margin: 47px;
}

.searchbar{
    text-align: center;
}

.searchbar input[type="text"] {
    padding: 15px;
    font-size: 15px;
    border: solid 0.5px #5f6368;    
    border-radius: 25px;
    display: block;
    margin: 0 auto;
    width: 40%;    
}

.searchbar input[type="text"]:hover{
    border: solid 0.5px #5f6368;    
    box-shadow: 0.5px #5f6368;
}

.searchbar input[type="text"]:focus {
    outline:  none;
}

.searchbutton {
    font-size: 15px;
    padding: 20px;
    text-align: center;
    line-height: 30px;
    margin-bottom: 24px
}

.searchbutton button {
    background: #f2f2f2;
    color: #5f6368;
    font-size: 15px;
    text-align: center;
    line-height: 30px;
    border: none;
    border-radius: 5px;
    margin: 10px;
}

.searchbutton button:hover{
    border: solid 0.5px #5f6368;    
    box-shadow: 0.5px #5f6368;
}

.pays, .fbar {
    background: #f2f2f2;
    color: #5f6368;
    font-size: 15px;
    line-height: 40px;    
    border-top: 1px solid #e4e4e4;
    padding: 0px 0px 0px 27px;
    overflow: hidden;
}

.fbar-left li {
    list-style: none;
    padding-right: 20px;
    float: left;
}

.fbar-right li {
    list-style: none;
    padding-right: 20px;    
    float: right;
}