header {
    position: fixed;
    top: 0;
    width: 100%;
    padding-bottom: 10px;
    border-bottom: 1px solid black;
    box-shadow: 0 1px 6px 0 rgb(32, 33, 36);
    background: white;
}

.row1, .row2{
    display: flex;
    overflow: auto;
}

.row2 {
    margin-left: 150px;
}

#searchbar{
    margin: 0;
    padding: 0;
}


#navbar-results{
    width: 100%;
    align-items: center;
}


#navlist-left{
    float: left;
    margin: 20px 20px;
    text-align: center;
}

#navlist-right{
    float: right;    
    margin: 20px 20px;
}

.row2 {
    text-align: center;   
}

#media-list{
    display: inline-flex;  
}

#media-list a{
    margin-right: 20px;
    text-align: center;
}

main {
    margin : 125px 350px 50px 150px;
}

main p{
    font-size: 14px;
}

main h3, main a, .pages a{
    color: #1a0dab;
}

.pages{
    text-align: center;
}

#pages-list  a{
    margin-left: 10px;
}


/* cancel fixed footer */
footer{
    position: unset;
}

#pays, #fbar {
    padding-left: 150px;
}